<!--&lt;!&ndash;@if(type === 'simple'){&ndash;&gt;-->
<!--&lt;!&ndash;  <app-provided-service-one [providedServices]="providedServices" [tagClass]="tagClass"></app-provided-service-one>&ndash;&gt;-->
<!--&lt;!&ndash;}@else if(type === 'basic'){&ndash;&gt;-->
<!--&lt;!&ndash;  <app-provided-service-two [providedServices]="providedServices"></app-provided-service-two>&ndash;&gt;-->
<!--&lt;!&ndash;}@else if(type === 'classic'){&ndash;&gt;-->
<!--&lt;!&ndash;  <app-provided-service-three [providedServicesData]="providedServicesData"></app-provided-service-three>&ndash;&gt;-->
<!--}-->
